body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.checkmark.white {
  display: none;
}

.card:hover .checkmark.blue {
  display: none;
}

.card:hover .checkmark.white {
  display: inline;
}
